body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  background-color: transparent;
  user-select: none;
}
button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}
