<div class="settings-container flex-column hide" id="settings-container">
  <!-- <div class="menu-item">
    <div class="flex-row">
      <i class="material-icons">palette</i>
      <span>dark theme</span>
    </div>
    <input type="checkbox" id="dark" checked>
    <label for="dark" class="switch">
      <div class="switch-track"></div>
      <div class="switch-thumb-underlay">
        <div class="switch-thumb"></div>
      </div>
    </label>
  </div> -->
  <div id="preview_skilldisplayer" class="preview skilldisplayer bg-active">
    <div class="flex-row preview-background">PREVIEW</div>
    <div class="window auto-attack-window" id="settings-aa-window"></div>
    <div class="window player-actions-window" id="settings-player-window"></div>
    <div class="window pet-actions-window" id="settings-pet-window"></div>
  </div>
  <div class="menu-item">
    <div class="flex-row">
      <i class="material-icons">translate</i>
      <span id="lang-tooltip">language</span>
    </div>
    <form id="lang-form" class="flex-row radio-container">
      <div>
        <input type="radio" id="lang-1" name="lang-radio" value="JP">
        <label class="radio-label" for="lang-1">
          <div>JP</div>
        </label>
      </div>
      <div>
        <input type="radio" id="lang-2" name="lang-radio" value="EN" checked>
        <label class="radio-label" for="lang-2">
          <div>EN</div>
        </label>
      </div>
      <div>
        <input type="radio" id="lang-4" name="lang-radio" value="DE" disabled>
        <label class="radio-label" for="lang-4">
          <div>DE</div>
        </label>
      </div>
      <div>
        <input type="radio" id="lang-3" name="lang-radio" value="FR">
        <label class="radio-label" for="lang-3">
          <div>FR</div>
        </label>
      </div>
      <div>
        <input type="radio" id="lang-5" name="lang-radio" value="CN">
        <label class="radio-label" for="lang-5">
          <div>CN</div>
        </label>
      </div>
    </form>
  </div>
  <div class="menu-item">
    <div class="flex-row">
      <i class="material-icons">photo_size_select_large</i>
      <span id="icon-scale-tooltip">icon scale</span>
    </div>
    <form id="scale-form" class="flex-row radio-container">
      <div>
        <input type="radio" id="scale-0.5" name="scale-radio" value="0.5">
        <label class="radio-label" for="scale-0.5">
          <div>0.5x</div>
        </label>
      </div>
      <div>
        <input type="radio" id="scale-0.8" name="scale-radio" value="0.8">
        <label class="radio-label" for="scale-0.8">
          <div>0.8x</div>
        </label>
      </div>
      <div>
        <input type="radio" id="scale-1" name="scale-radio" value="1" checked>
        <label class="radio-label" for="scale-1">
          <div>1x</div>
        </label>
      </div>
      <div>
        <input type="radio" id="scale-1.5" name="scale-radio" value="1.5">
        <label class="radio-label" for="scale-1.5">
          <div>1.5x</div>
        </label>
      </div>
      <div>
        <input type="radio" id="scale-2" name="scale-radio" value="2">
        <label class="radio-label" for="scale-2">
          <div>2x</div>
        </label>
      </div>
    </form>
  </div>
  <div class="menu-item">
    <div class="flex-row">
      <i class="material-icons">shutter_speed</i>
      <span id="display-time-tooltip">display time</span>
    </div>
    <form id="speed-form" class="flex-row radio-container">
      <div>
        <input type="radio" id="speed-1" name="speed-radio" value="20">
        <label class="radio-label" for="speed-1">
          <div>20s</div>
        </label>
      </div>
      <div>
        <input type="radio" id="speed-2" name="speed-radio" value="15">
        <label class="radio-label" for="speed-2">
          <div>15s</div>
        </label>
      </div>
      <div>
        <input type="radio" id="speed-3" name="speed-radio" value="10" checked>
        <label class="radio-label" for="speed-3">
          <div>10s</div>
        </label>
      </div>
      <div>
        <input type="radio" id="speed-4" name="speed-radio" value="8">
        <label class="radio-label" for="speed-4">
          <div>8s</div>
        </label>
      </div>
      <div>
        <input type="radio" id="speed-5" name="speed-radio" value="5">
        <label class="radio-label" for="speed-5">
          <div>5s</div>
        </label>
      </div>
    </form>
  </div>
  <div class="menu-item">
    <div class="flex-row">
      <div id="show-bg">
        show grid
      </div>
    </div>
    <input type="checkbox" id="show-bg-switch" checked>
    <label for="show-bg-switch" class="switch">
      <div class="switch-track"></div>
      <div class="switch-thumb-underlay">
        <div class="switch-thumb"></div>
      </div>
    </label>
  </div>
  <div class="menu-item">
    <div class="flex-row">
      <div id="bg-color">
        background color (hex code)
      </div>
    </div>
    <label for="bg-color-input">
      <div class="flex-row">
        <input style="display: block; color: black; margin:5px" type="text" id="bg-color-input" minlength="6"
          maxlength="9" size="9" value="#3f3f3f82">
        <div id="bg-preview-box" class="box" style="background-color: #3f3f3f82"></div>
      </div>
    </label>
    <div id="bg-color-tooltip" class="tooltip">
      <span class="orange">The input will not work without the overlay locked</span>
      <br>
      <span class="orange">It will also not work if the game is taking keyboard input</span>
      <br>
    </div>
  </div>
  <div class="menu-item">
    <div class="flex-row">
      <img src="../../resources/actions/000101.png">
      <div id="auto-attacks-tooltip">
        show auto-attacks
      </div>
    </div>
    <input type="checkbox" id="auto-attack-switch" checked>
    <label for="auto-attack-switch" class="switch">
      <div class="switch-track"></div>
      <div class="switch-thumb-underlay">
        <div class="switch-thumb"></div>
      </div>
    </label>
  </div>
  <div class="menu-item">
    <div class="flex-row">
      <img src="../../resources/actions/000509.png">
      <div id="pet-actions-tooltip">
        show pet actions
      </div>
    </div>
    <input type="checkbox" id="pet-actions-switch" checked>
    <label for="pet-actions-switch" class="switch">
      <div class="switch-track"></div>
      <div class="switch-thumb-underlay">
        <div class="switch-thumb"></div>
      </div>
    </label>
  </div>
  <div class="menu-item">
    <div class="flex-row">
      <img src="../../resources/actions/000830.png">
      <div id="check-positional-tooltip">
        check positional miss
      </div>
    </div>
    <input type="checkbox" id="positional-switch" checked>
    <label for="positional-switch" class="switch">
      <div class="switch-track"></div>
      <div class="switch-thumb-underlay">
        <div class="switch-thumb"></div>
      </div>
    </label>
  </div>
  <div class="menu-item">
    <div class="flex-row">
      <img src="../../resources/actions/002692.png">
      <div id="validate-pet-tooltip">validate pet actions<span class="orange">*</span></div>
    </div>
    <input type="checkbox" id="validate-pet-switch" checked>
    <label for="validate-pet-switch" class="switch">
      <div class="switch-track"></div>
      <div class="switch-thumb-underlay">
        <div class="switch-thumb"></div>
      </div>
    </label>
    <div id="validate-pet-tooltip-2" class="mouse-tooltip">
      validate pet action finished successfully or not. <br>
      this takes about 4 secs after action. <br>
      <span class="orange">*there's an bug with low-level striking dummies.</span>
    </div>
  </div>
  <hr class="divider">
  <div class="contact flex-column">
    <div class="black">kagami v1.5.0</div>
    <div id="patch-info">FFXIV patch version: v6.11</div>
    <div>💬Contact: discord ram#5923</div>
    <div>💬Fork by: discord sgosiaco#4118</div>
    <div>💎FR support: Ashalaya / CN support: ShadyWhite</div>
  </div>
</div>